name: Release
on: [workflow_dispatch] # Manual trigger
jobs:
  build:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v6
      - uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - run: msbuild.exe fabric-installer-native-bootstrap.sln /property:Configuration=Release /p:Platform=Win32
      - uses: actions/upload-artifact@v6
        with:
          name: Artifacts Win32
          path: |
            Win32/Release/fabric-installer-native-bootstrap.exe
            Win32/Release/fabric-installer-native-bootstrap.pdb
      - run: gradle publish --stacktrace
        env:
          MAVEN_URL: ${{ secrets.MAVEN_URL }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}